/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 html, body {
  width: 100%;
  height: 100%;
  margin: auto;
}

header {
  grid-area: header;
  background-color: #00a0fa;
  width: 100%;
  height: 100px;
  /* box-shadow: 2px 1px 5px 2px #00a0fa; */
}

main {
  grid-area: main;
  text-align: center;
  
  display: grid;
  grid-template-areas:
    'main chat'
    'subtasks chat ';
    grid-gap: 10px;
    padding: 2px;
}

footer {
  grid-area: footer;
  background-color: #00a0fa;
  width: 100%;
  height: 50px;
  /* box-shadow: 2px 1px 5px 2px #00a0fa; */
}

.tasks-index {
  display: grid;
  width: 40%;
  margin-left: 30%;
  margin-right: 30%;
  grid-column-start: 1;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;

}

.single-frame {
  display: grid;
  width: 40%;
  margin-left: 30%;
  margin-right: 30%;
  grid-column-start: 1;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}

.describe_task {
  border: solid 1px;
  height: auto;
  border-color: antiquewhite;
  border-radius: 2px;
  box-shadow: 2px 1px 5px 2px #cbe2ff;
}

.subtasks {
  grid-area: subtasks;
  border: solid 1px;
  height: auto;
  border-color: antiquewhite;
  border-radius: 2px;
  box-shadow: 2px 1px 5px 2px #cbe2ff;
}

.chat{
  width: 100%;
  grid-area: chat;
  border: solid 1px;
  height: auto;
  border-color: antiquewhite;
  border-radius: 2px;
  box-shadow: 2px 1px 5px 2px #cbe2ff;
 }

 .navigation {
  margin-left: 93%;
  margin-top: 1%;
 }
 .navigation a {
   margin: 2px;
  background-color: aliceblue;
  padding: 5px;
 }
 .navigation a:hover {
  background-color: #2277f0;
  padding: 5px;
 }

 body {
  display: grid;
  grid-template-areas:
    'header'
    'main'
    'footer';
  grid-gap: 10px;
  padding: 2px;
  min-height: 100%;
  grid-template-rows: auto 1fr auto;
  margin: auto;
}
