/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.header {
  grid-area: header;
  background-color: #2f73eb;
  width: 100%;
  height: 100px;
  box-shadow: 2px 1px 5px 2px #2f73eb;
}

.describe_task {
  grid-area: describe_task;
  border: solid 1px;
  border-color: antiquewhite;
  border-radius: 2px;
  box-shadow: 2px 1px 5px 2px #2f73eb;
}

.subtasks {
  grid-area: subtasks;
  border: solid 1px;
  height: auto;
  border-color: antiquewhite;
  border-radius: 2px;
  box-shadow: 2px 1px 5px 2px #2f73eb;
}

.chat{
  grid-area: chat;
  border: solid 1px;
  height: auto;
  border-color: antiquewhite;
  border-radius: 2px;
  box-shadow: 2px 1px 5px 2px #2f73eb;
 }

 footer {
   grid-area: footer;
   background-color: #2f73eb;
   width: 100%;
   height: 50px;
   box-shadow: 2px 1px 5px 2px #2f73eb;
 }

.wrapper {
  display: grid;
  grid-template-areas:
    'header header'
    'describe_task chat'
    'subtasks chat'
    'footer footer';
  grid-gap: 10px;
  /* background-color: rgb(170, 170, 164); */
  padding: 2px;
  /* width: 100vw;
  height: 100vh; */
}

.wrapper > div {
  /* background-color: #e0e0e0; */
  text-align: center;
  padding: 20px 0;
  /* font-size: 30px;  */
}